{% extends 'base.html' %}

{% block content %}
<h2>Register Student to Course</h2>

<form method="POST">
    {% csrf_token %}

    <label>Student:</label>
    <select name="student">
        {% for s in students %}
            <option value="{{ s.id }}">{{ s.name }}</option>
        {% endfor %}
    </select>

    <br><br>

    <label>Course:</label>
    <select name="course">
        {% for c in courses %}
            <option value="{{ c.id }}">{{ c.coursename }}</option>
        {% endfor %}
    </select>

    <br><br>

    <button type="submit">Enroll</button>
</form>

{% endblock %}